body {
    font-family: 'Marcellus', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffff00;
    background-color: #000000;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Black han sans', sans-serif;
    text-transform: uppercase;
}

/*-------------------------------------------
Elements
--------------------------------------------- */

/*------------------------------------------- 
Links
--------------------------------------------- */
/* a,
a:visited {
    color: #ffff00;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

a:focus,
a:active {
    border: solid 0.1rem #ffff00;
    padding: 0.2rem;
} */

a {
    text-decoration: none;
    color: #ffff00;
}

/* Header
------------------------------------------ */

.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-left: 8px;
    padding-right: 8px;
}

.site-name {
    display: none;
}

.nav-menu {
    display: flex;
    list-style: none;
    font-size: 22px;
    font-family: 'black han sans', 'Times New Roman', Times, serif ;
    margin-top: 8px;
    margin-bottom: 0px;
    border-bottom: 4px solid #ffff00;
    text-transform: uppercase;
}

.nav-menu li {
    padding: 4px 8px;
}

.nav-menu {
    padding: 10px 12px;
}

.nav-menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

/* Main
--------------------------------------------- */

/* Page Header */
.page-header {
    position: relative;
}

.site-main img {
    height: 20rem;
}

.page-header h1 {
    position: absolute;
    font-family: 'Black ops one', 'Times New Roman', Times, serif;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    margin: 0;
    font-size: 3rem;
    color: #ffff00;
    text-transform: uppercase;
    text-align: center;
}

/* Sections
--------------------------------------- */
.about-section {
    display: flex;
    flex-direction: column;
    color: #ffff00;
}

.about-section h2 {
    text-transform: uppercase;
    align-self: center;
    font-size: 3rem;
    margin-top: .5rem;
    margin-bottom: 0;
}

.about-section p {
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.projects-section {
    padding: 1.8rem 2rem;
}

.projects-section img {
    height: auto;
    width: 100%;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin: .3rem 0 2rem;
    max-width: 80rem;
    margin: 0 auto;
}

.projects-title {
    font-size: 3rem;
    margin: 0 0 1rem 0;
    text-align: center;
}

.projects-name {
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    line-height: 2rem;
    margin: 0 0 .5rem 0;
}

.projects-item {
    border-radius: 1.5rem;
    flex: 0 1 auto;
    width: 25.75rem;
    padding: 1rem;
    justify-content: center;
    border: dotted .5rem yellow;
}

.projects-item p {
    font-size: 1.5rem;
    line-height: 1rem;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .75rem;
}

.projects-item a {
    display: flex;
    font-family: 'black han sans', Arial, Helvetica, sans-serif;
    background-color: #ffff00;
    width: 12rem;
    margin: 0 auto;
    font-size: 2rem;
    color: #000000;
    text-transform: uppercase;
    border-radius: 1.5rem;
    justify-content: center;
    letter-spacing: .5rem;
}

/* Footer
--------------------------------------------- */
.site-footer {
    display: block;
    text-align: left;
    width: 100%;
    padding-left: 2rem;
    font-size: 1.5rem;
    border-top: solid .25rem #ffff00;
}

/* media query start -------------------------
---------------------------------------------*/
@media (min-width: 800px) {

    /* Header 
---------------------------------------------*/
    .site-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 12px;
        border-bottom: 4px solid #ffff00;
    }

    .nav-menu {
        display: flex;
        border-bottom: none;
    }

    .site-name {
        display: block;
        font-size: 24px;
        font-family: 'Yellowtail', 'Times New Roman', Times, serif;
        color: #ffffff;
        padding-left: 30px;
        text-shadow:    
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px rgb(244, 219, 60),
            0 0 82px rgb(244, 219, 60),
            0 0 92px rgb(244, 219, 60),
            0 0 102px rgb(244, 219, 60),
            0 0 151px rgb(244, 219, 60);
    }

    @keyframes flicker {

        0%,
        16%,
        26%,
        30%,
        58%,
        64%,
        100% {
            text-shadow:
                0 0 7px #fff,
                0 0 10px rgb(244, 219, 60),
                0 0 21px rgb(244, 219, 60),
                0 0 42px rgb(244, 219, 60),
                0 0 82px rgb(244, 219, 60),
                0 0 92px rgb(244, 219, 60),
                0 0 102px rgb(244, 219, 60),
                0 0 151px rgb(244, 219, 60);
        }

        22%,
        28%,
        60% {
            text-shadow: none;
        }
    }

    /* Main
 --------------------------------------------*/

    .section-title {
        color: #ffff00;
        padding-bottom: .5rem;
    }

    .site-main img {
        width: 100%;
        height: 100dvh;
    }

    .page-header h1 {
        top: 20%;
        right: 0;
    }

    /* Section
 -------------------------------------------*/
    .about-section p {
        font-size: 1.5rem;
        line-height: 1.5rem;
        max-width: 50rem;
        text-align: left;
        color: #ffff00;
        border: solid .5rem #ffff00;
        border-radius: 1rem;
        padding: 1rem;
    }

    .projects-section {
        padding-bottom: 5rem;
    }

    .projects-title {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .projects-section img {
        height: auto;
    }

    .projects-item {
        width: 15rem;
    }

    .projects-text {
        width: fit-content;
        text-align: center;
    }

    /* footer
 --------------------------------------------*/
    .site-footer {
        text-align: center;
    }

}